body{
overflow-x: hidden;
margin-top:50px;
margin-bottom:40px;
}
.main{
padding-top: 40px;
background: #EDEDEE;
margin-top:80px;
width:980px;
margin: 0 auto;
border-radius: 10PX;
}
h1{text-align: center;}
h2{text-align: center;}
h3{margin-left:100px;}
h5{margin-left:230px; }
.hb{padding-bottom:50px; }
img{
width:950px;
}
ul{
margin-left:125px;
} 